[submodule ".vim/bundle/vim-cpp-enhanced-highlight"]
	path = .vim/bundle/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/plugin"]
	path = .vim/plugin
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule ".vim/bundle/YoucompleteMe"]
	path = .vim/bundle/YoucompleteMe
	url = git://github.com/Valloric/YouCompleteMe
